/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(fondo.jpg);
}
img {
    max-width: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inlin;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 50px 0;
    background-color:white;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.cursos{
    padding: 20px;
    text-align: lift;
    margin: 50px 0;
    background-color:white;
    border: 1px solid #ddd;
    border-radius: 10px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
